@charset "UTF-8";

/* ページ全体のスタイル
------------------------------------------ */

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: normal;
    color: #333;
}

a {
    color: #333;
    text-decoration: none;
}

@media (min-width: 780px) {
    a:hover {
        opacity: .5;
    }
}


img {
    width: 100%;
    height: auto;
}

li {
    list-style: none;
}

.container {
    padding-inline: 1rem;
}

@media(min-width:780px) {
    .container {
        max-width: 80rem;
        margin: 0 auto;
    }
}

/* 部品 */

.poppins {
    font-family: Poppins, sans-serif;
}

.flex {
    display: flex;
}

.text-pink {
    color: #F11F8D;
}

.button {
    width: 21.875rem;
    height: 4.125rem;
    background-color: #fff;
    color: #fff;
    border-radius: 2.0625rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

@media (min-width: 780px) {
    .button {
        border-radius: 2.375rem;
    }
}

.button-white {
    color: #0271E0;
    font-size: 1.125rem;
    font-weight: bold;
    width: 21.875rem;
    margin-top: .85rem;
    margin-left: .3rem;
    margin-bottom: 2rem;
}

@media (min-width: 780px) {
    .button-white {
        font-size: 1.25rem;
        display: flex;
        color: #fff;
        width: 17.625rem;
        height: 3.8125rem;
        background: linear-gradient(to right, #0271E0, #53A2F0);
        border-radius: 1.9375rem;
        margin-inline:0;
        margin-left:-0.3vw;
    }
}

.button-green {
    width: 15.625rem;
    height: 3rem;
    background-color: #77CB33;
}

@media (min-width: 780px) {
    .button-green {
        width: 21.25rem;
        height: 4.6875rem;
        font-size: 1.5rem;
    }
}

.button-orange {
    width: 15.625rem;
    height: 3rem;
    background-color: #F6AA00;
}

@media (min-width: 780px) {
    .button-orange {
        width: 21.25rem;
        height: 4.6875rem;
        font-size: 1.5rem;
    }
}

.button-lightblue {
    width: 15.625rem;
    height: 3rem;
    background-color: #3AC8AD;
}

@media (min-width: 780px) {
    .button-lightblue {
        width: 21.25rem;
        height: 4.6875rem;
        font-size: 1.5rem;
    }
}

.button-blue {
    width: 19.0625rem;
    height: 4.3rem;
    font-size: 1.25rem;
    border-radius: 2.3rem;
    background: linear-gradient(to right, #0271E0, #53A2F0);
    color: #fff;
}

@media (min-width: 780px) {
    .button-blue {
        padding-left: 1.4rem;
        font-size: 1.5rem;
        width: 22.5rem;
        height: 4.6875rem;
    }
}

.section-title {
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;
    padding-top: 4rem;
    padding-left: 1rem;
    padding-bottom: 1.25rem;
}

@media (min-width: 780px) {
    .section-title {
        font-size: 2.25rem;
        padding-top: 4.7rem;
        padding-right: .9rem;
    }
}

.section-bottom {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    line-height: 1.78;
    padding-top: 2.4rem;
    padding-bottom: 2.5rem;
    background-color: #FFEDED;
}

@media (min-width: 780px) {
    .section-bottom {
        margin-top: 4.45rem;
        padding-top: 3.4rem;
        padding-bottom: 3.4rem;
    }
}

.section-bottom-text {
    text-align: center;
    padding-inline: 2.3rem;
    padding-bottom: .55rem;
}

@media (min-width: 780px) {
    .section-bottom-text {
        padding-bottom: 1.1rem;
    }
}

/* header */

.header {
    position: relative;
    width: 100%;
    z-index: 10;
    position: fixed;
    height: 4.375rem;
    display: flex;
    align-items: center;
    box-shadow: 0rem .125rem .5rem #0000001A;
    background-color: #fff;
}

@media (min-width: 980px) {
    .header {
        max-width: 100%;
        height: 6.3rem;
        display:flex;
        justify-content:center;

    }
}

@media (min-width: 980px) {
    .header-inner {
        padding:0 1rem;
        gap:8.3vw;
        display:flex;
        justify-content:space-between;
    }
}

/* header-logo */

.header-logo {
    display: flex;
    width: 15rem;
    padding-top: .5rem;
    padding-left: 1rem;
}

@media (min-width: 980px) {
    .header-logo {
        padding-top:2.25rem;
        padding-left:0.15%;
    }
}

@media (min-width: 980px) {
    .header-logo img {
        width: 15rem;
    }
}

/* ハンバーガーボタン */
.hamburger-button {
    display: inline-block;
    position: fixed;
    top: 0rem;
    right: 0%;
    width: 4.4rem;
    height: 4.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #005BAC;
}

@media (min-width: 980px) {
    .hamburger-button {
        display: none;
    }
}

.hamburger-button i {
    color: #fff;
    line-height: .95;
    font-size: 2.7rem;
}

/* ハンバーバーガーメニューヘッダーナビ */

.hamburger-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 4.4rem;
    left: 0;
    width: 100%;
    padding-top: 1.2rem;
    transform: translateX(100%);
    transition: all .3s;
    background-color: #005BAC;
}

@media (min-width: 980px) {
    .hamburger-menu {
        position: static;
        transform: none;
        transition: none;
        opacity: 1;
        visibility: visible;
        display: flex;
        flex-direction: row;
        background-color: transparent;
        padding-top:0.4%;

    }
}

/* hamburger-menuスライドイン後の位置 */

.hamburger-menu-active {
    transform: translateX(0);
}

@media (min-width: 980px) {
    .hamburger-menu-active {
        transform: none;
    }
}

/* header-nav-list */

.hamburger-nav-first {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 1.11rem;
    padding-left: .95rem;
}

@media (min-width: 980px) {
    .hamburger-nav-first {
        width: auto;
        white-space: nowrap;
        padding-top: .9rem;
        display: flex;
        align-items: center;
        flex-direction: row;
        column-gap: 2.5vw;
        padding-left:0;
    }
}

.hamburger-nav-first li {
    display: flex;
    width: 100%;
}

@media (min-width: 980px) {
    .hamburger-nav-first li {
        border-bottom: none;
        width: auto;
        line-height:0;
    }
}


.hamburger-nav-first li::after {
    content: "";
    position: absolute;
    padding-top: 2.9rem;
    left: 49.8%;
    width: 21.8rem;
    transform: translateX(-50%);
    border-bottom: 1px solid #707070;
}

@media (min-width: 980px) {
    .hamburger-nav-first li::after {
        border-bottom: none;
    }
}


.hamburger-nav-first li:nth-child(-n+3) a {
    display: flex;
    text-align: center;
    font-size: 1.125rem;
    color: #fff;
    line-height: 1.5;
    padding-bottom: 1.29rem;
}

.hamburger-nav-first li:nth-child(1) a {
    margin-top: .05rem;
}


.hamburger-nav-first li:nth-child(2) a {
    margin-top: .1rem;
}


.hamburger-nav-first li:nth-child(3) a {
    letter-spacing: .25em;
    margin-top: .1rem;
}

@media (min-width: 980px) {
    .hamburger-nav-first li:nth-child(-n+3) a {
        font-size: 1.25rem;
        font-weight: bold;
        color: #333;
    }
}

.hamburger-nav-first i {
    font-size: 1.65rem;
    line-height: 0;
    margin-right: .2rem;
    color: #fff;
}


/* mainvisual */
.cover {
    position: relative;
    padding-top:4.35rem;
}

@media (min-width: 780px) {
    .cover {
        max-width: 100%;
        background-color: #fff;
        padding-top:6.3rem;
    }
}

@media(min-width:780px) {
    .cover-item {
        max-width: 120rem;
        margin-inline: auto;
    }
}

.cover-item img {
    position:absolute;
    width:100%;
    object-fit:cover;
    min-height:100%;
    max-height:100%;
    /* margin-top: 4.4rem; */
}

@media (min-width: 780px) {
    .cover-item img {
        position:absolute;
        object-fit:cover;
        min-height:79%;
        max-height:90%;
        /* margin-top: 6.2rem; */
    }
}

.cover-text {
    position:relative;
    display: flex;
    flex-direction: column;
    padding-left:1rem;
}

@media (min-width: 780px) {
    .cover-text {
        position: relative;
        max-width:1080px;
        display:flex;
        margin:auto;
        padding-top:4.5rem;
        /* top: 14.2%; */
        left: -1.3%;
    }
}

.cover-text-top {
    margin-top:2rem;
    margin-bottom:0.1rem;
}

@media (min-width: 780px) {
    .cover-text-top {
        display:flex;
        justify-content:flex-start;
        gap: 1.2rem;
    }
}

.cover-text-top img {
    position:relative;
    width: 1.5rem;
    height: 4.4rem;
}

@media (min-width: 780px) {
    .cover-text-top img {
        width: 3.2875rem;
        height: 9.375rem;
    }
}


.cover-text-center {
    position:relative;
    flex-direction: column;
    align-items: center;
    line-height: 1;
    row-gap: .6rem;
    padding-top:.4rem;
}

@media (min-width: 780px) {
    .cover-text-center {
        padding-top: .86rem;
        row-gap: 1.2rem;
    }
}

.cover-text-center1 {
    font-size: .6875rem;
}

@media (min-width: 780px) {
    .cover-text-center1 {
        font-size: 1.25rem;
        padding-right: .1rem;
    }
}

.cover-text-center2 {
    font-weight: bold;
    font-style: italic;
    font-size: 1.5625rem;
    letter-spacing: .01em;
    padding-right: .04rem;
}

@media (min-width: 780px) {
    .cover-text-center2 {
        padding-left: .7rem;
        font-size: 3.375rem;
    }
}

.cover-text-center3 {
    font-weight: bold;
    font-size: 2.25rem;
}

@media (min-width: 780px) {
    .cover-text-center3 {
        font-size: 4.625rem;
    }
}

.cover-text-bottom {
    flex-direction: column;
    padding-top: 1.2rem;
}

@media (min-width: 780px) {
    .cover-text-bottom {
        padding-top: 1.95rem;
    }
}

.cover-text-bottom1 {
    font-size: .875rem;
}

@media (min-width: 780px) {
    .cover-text-bottom1 {
        font-size: 2.0625rem;
    }
}

.cover-text-bottom2 {
    color: #005BAC;
    font-weight: bold;
    font-size: 1.5625rem;
}

@media (min-width: 780px) {
    .cover-text-bottom2 {
        line-height: 1.43;
        padding-top: .3rem;
        font-size: 3.75rem;
    }
}

.button-flex {
    display:flex;
    justify-content:center;
        transform: translateY(35%);

}

@media(min-width:780px) {
    .button-flex {
        display: flex;
        justify-content: center;
        transform: translateY(30%);

    }
}

 .cover-text-button {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

@media (min-width: 780px) {
    .cover-text-button {
        max-width: 100%;
        flex-direction: row;
        gap: 2.5rem;
        padding-top:2.6%;
        padding-bottom:2.8%;
        position: relative;
    }
}

/* 選ばれる３つの理由 */

    .select .container {
    padding-top: 1.8rem;
    }


@media (min-width: 780px) {
    .select .container {
        padding-top:0;
        padding-inline: 3.7rem;
    }
}

.select-title {
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;
    padding-top: 3.3rem;
    padding-bottom: .9rem;
}

@media (min-width: 780px) {
    .select-title {
        font-size: 2.25rem;
        padding-top: 4.4rem;
        padding-bottom: 1.8rem;
    }
}

.select-color {
    font-size: 2.5rem;
}

@media (min-width: 780px) {
    .select-color {
        font-size: 3.375rem;
    }
}


@media (min-width: 780px) {
    .select-img {
        width: 50%;
    }
}

@media (min-width: 780px) {
    .select-img.img2 {
        width: 49.1%;
    }
}

@media (min-width: 780px) {
    .select-img.img3 {
        width: 49.4%;
    }
}



.select-image {
    display: flex;
    justify-content: center;
}

@media (min-width: 780px) {
    .select-point {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 2.38rem;
    }
}

@media (min-width: 780px) {
    .select-point.flex-reverse {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
        column-gap: 2rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

.select-pointpart {
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    line-height: 1.6;
    padding-top: .35rem;
    padding-left: .05rem;
}

@media (min-width: 780px) {
    .select-pointpart {
        font-size: 1.75rem;
        line-height: 1.15;
        padding-left: .1rem;
    }
}

.select-pointpart.part2 {
    line-height: 1.6;
}

@media(min-width: 780px) {
    .select-pointpart.part2 {
        line-height: 1.3;
        padding-top: .15rem;
        padding-left: .1rem;
    }
}

.select-pointpart.part3 {
    line-height: 1.53;
}

@media(min-width: 780px) {
    .select-pointpart.part3 {
        line-height: 1;
        padding-top: .5rem;
        padding-left: .3rem;
    }
}

.select-point-color {
    font-size: 2.25rem;
}

@media (min-width: 780px) {
    .select-point-color {
        font-size: 2.625rem;
    }
}

@media (min-width: 780px) {
    .select-text {
        width: 50%;
        margin-bottom: auto;
    }
}

.select-text1 {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.2;
    padding-bottom: .8rem;
}

@media(min-width: 780px) {
    .select-text1 {
        padding-top: .55rem;
        padding-left: .1rem;
        padding-bottom: 1.25rem;
        font-size: 1.5rem;
    }
}

.select-text2 {
    font-size: 1rem;
    line-height: 1.75;
    padding-bottom: 2.05rem;
    font-weight: normal;
}

@media(min-width: 780px) {
    .select-text2 {
        padding-left: .1rem;
        margin-right: .1rem;
    }
}

.select-text1.text2-1 {
    line-height: 1.26;
    padding-bottom: .89rem;
}

@media(min-width: 780px) {
    .select-text1.text2-1 {
        line-height: 1.63;
        padding-top: 0;
        padding-left: .01rem;
        padding-bottom: .95rem;
    }
}

@media(min-width: 780px) {
    .select-text2.text2-2 {
        padding-top: .1rem;
        padding-left: .1rem;
    }
}

.select-text1.text3-1 {
    line-height: 1.37;
    padding-bottom: .7rem;
}

@media(min-width: 780px) {
    .select-text1.text3-1 {
        line-height: 1.7;
        padding-top: .37rem;
        padding-left: .3rem;
        padding-bottom: .95rem;
    }
}

.select-text2.text3-2 {
    padding-bottom: 2.1rem;
}

@media(min-width: 780px) {
    .select-text2.text3-2 {
        padding-left: .3rem;
    }
}

/* コース・目的 */

.container.course-container {
    padding-inline: 0;
}

@media (min-width: 780px) {
    .container.course-container {
        padding-inline: 1rem;
    }
}


/* smarttab */

.st-theme-basic {
    border: none;
}

/* タブナビゲーション */

.tab.st>.nav {
    column-gap: .9rem;
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    flex-direction: row !important;
}

@media (min-width:780px) {
    .tab.st>.nav {
        column-gap: 2.15rem;
        padding-inline: 2.75rem;
    }
}

.tab.st-theme-basic>.nav {
    box-shadow: none;
}

.tab.st-theme-basic>.nav .nav-link {
    padding-top: 1.25rem;
    padding-bottom: 1.35rem;
    margin-bottom: .2rem;
    background-color: #F0F0F0;
    color: #929292;
    font-size: 1.125rem;
    font-weight: bold;
    border-radius: .5rem .5rem 0 0;
}

.tab.st-theme-basic>.nav .nav-link.nav-2 {
    padding-top: 1.2rem;
    padding-right: 1rem;
}

@media (min-width :780px) {
    .tab.st-theme-basic>.nav .nav-link {
        padding-top: 1.3rem;
        font-size: 1.5rem;
        padding-right: 1.2rem;
        margin-top: .6rem;
        margin-bottom: 0rem;
        padding-bottom: .92rem;
    }
}

@media (min-width :780px) {
    .tab.st-theme-basic>.nav .nav-link.nav-2 {
        padding-top: 1.3rem;
        padding-left: 1rem;
        font-size: 1.5rem;
        margin-top: .6rem;
        margin-bottom: 0rem;
        padding-bottom: 1.55rem;
    }
}


/* アクティブ状態 */

.tab.st-theme-basic>.nav .nav-link.active {
    color: #333 !important;
    background-color: #F2F9FF;
}

.tab.st-theme-basic>.nav .nav-link.active::after {
    display: none !important;
    background-color: unset;
}

/* タブコンテンツ */

.tab-content {
    /* text-align: center; */
    width: 100%;
}

@media (min-width: 780px) {
    .tab-content {
        /* padding-top: 0.6rem; */
        /* padding-inline: 0.5rem; */
        /* height:24.2rem !important; */
    }
}

.course-tab {
    /* padding: 0.5rem 1.5rem 0.1rem 1.5rem; */
}

@media (min-width :780px) {
    .course-tab {
        padding-top: .25rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem .9rem;
        /* 行間・列間の余白 */
        /* display: flex; */
        /* column-gap: 1.6rem; */
        /* margin-bottom: 0.55rem; */
    }
}

.course-tab-item {
    /* padding: 0.5rem 1.5rem 0.1rem 1.5rem; */

}

@media (min-width :780px) {
    .course-tab-item {
        /* display: flex; */
        /* column-gap: 1.6rem; */
        /* margin-bottom: 0.55rem; */
        overflow: hidden;
    }
}

@media (min-width :780px) {
    .course-tab-item:hover img {
        transform: scale(1.2);
    }
}

.course-tab-item img {
    padding-left: 1rem;
    width: 100%;
}

@media (min-width :780px) {
    .course-tab-item img {
        /* transition: transform 0.3s ease; */
    }
}

.course-title {
    display: flex;
    align-items: center;
    padding-left: .5rem;
}



@media (min-width: 780px) {
    .course-title {
        /* width: calc((100% - 3.3rem) / 2); */
    }
}

.arrow-icon {
    font-size: 1.8rem;
    color: #005BAC;
}

@media (min-width: 780px) {
    .arrow-icon {
        display:none;
    }
}

@media (min-width: 780px) {
    .arrow-icon.icon4 {
        padding-top: .1rem;
        padding-left: .1rem;
    }
}

.course-title-text {
    /* padding-top: 0.3rem; */
    font-size: 1.25rem;
    /* line-height: 1.25; */
    display: flex;
    flex-direction: column;
    padding-top: .15rem;
    padding-left: .05rem;
}



@media (min-width: 780px) {
    .course-title-text {
        font-size: 1.25rem;
        line-height: 1;
        padding-top: .32rem;
        padding-left: .2rem;
    }
}

@media (min-width: 780px) {
    .course-title-text.text2 {
        padding-left: .25rem;
    }
}

@media (min-width: 780px) {
    .course-title-text.text3 {
        padding-top: .3rem;
        padding-left: .2rem;
    }
}

@media (min-width: 780px) {
    .course-title-text.text4 {
        padding-top: .3rem;
        padding-left: .2rem;
    }
}


.tab.st-theme-basic>.tab-content>.tab-pane {
    background-color: #F2F9FF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.45rem 1rem 3rem 0;
}

@media (min-width: 780px) {
    .tab.st-theme-basic>.tab-content>.tab-pane {
        background-color: #F2F9FF;
        margin-inline: 2.6rem;
        padding-bottom: 1.4rem;
        /* display: flex; */
        /* flex-direction: row; */
        /* column-gap: 2rem; */
    }
}


.course-tab-item.item2 {
    padding-top: 1.45rem;
}

@media (min-width: 780px) {
    .course-tab-item.item2 {
        padding-top: 0;
    }
}

.course-tab-item.item3 {
    padding-top: 1.45rem;
}

@media (min-width: 780px) {
    .course-tab-item.item3 {
        padding-top: 0;
    }
}

.course-tab-item.item4 {
    padding-top: 1.45rem;
}

@media (min-width: 780px) {
    .course-tab-item.item4 {
        padding-top: 0;
    }
}

.course-tab-item.item5 {
    padding-bottom: 1.45rem;
}

@media (min-width: 780px) {
    .course-tab-item.item5 {
        padding-top: 0;
    }
}

.course-tab-item.item6 {
    padding-bottom: 1.45rem;
}

@media (min-width: 780px) {
    .course-tab-item.item6 {
        padding-top: 0;
    }
}

.course-tab-item.item7 {
    padding-bottom: 1.45rem;
}

@media (min-width: 780px) {
    .course-tab-item.item7 {
        padding-top: 0;
    }
}

/* コース・目的セクション下部ボタン */

.course-bottom {
    margin-top: 4.1rem;
}

@media (min-width: 780px) {
    .course-bottom {
        margin-top: 4.6rem;
        padding-top: 3.4rem;
    }
}

/* 費用 */

@media (min-width: 780px) {
    .plan .container {
        display: flex;
        flex-direction: column;
        max-width: 39.4rem;
        padding-inline: 1rem;
    }

}

.plan .section-title {
    letter-spacing: .2em;
    padding-left: 1.24rem;

}

@media (min-width: 780px) {
    .plan .section-title {
        padding-top: 4.55rem;
        padding-left: 1.27rem;
        padding-bottom: 2rem;
    }
}

table {
    table-layout: fixed;
    width: 100%;
    border: 3px solid #ccc;
    border-collapse: collapse;
}

table th:first-child {
    width: 34%;
}

@media (min-width: 780px) {
    table th:first-child {
        width: 24%;
    }
}

table th:last-child {
    width: 66%;
}

@media (min-width: 780px) {
    table th:last-child {
        width: 76%;
    }
}


th {
    border: 1px solid #ccc;
}

td {
    border: 1px solid #ccc;
    text-align: left;
}

th,
td {
    vertical-align: middle;
}

.plan-head {
    background-color: #f5f5f5;
}

@media (min-width :780px) {
    .plan-head {
        font-size: 1.125rem;
    }
}

.plan-head1 {
    border-right: none;
    font-weight: normal;
    padding: 1.23rem .55rem 1.3rem .55rem;
}

@media (min-width :780px) {
    .plan-head1 {
        padding-top: .1rem;
        padding-bottom: 0rem;
    }
}

.plan-head2 {
    border-left: none;
    font-weight: normal;
    padding: 1.23rem .9rem 1.3rem 0;
}

@media (min-width :780px) {
    .plan-head2 {
        padding-top: 1.5rem;
        padding-left: 1rem;
        padding-bottom: 1.5rem;
    }
}

@media (min-width :780px) {
    .plan-course {
        font-size: 1.125rem;
        padding-top: .2rem;
        padding-bottom: .1rem;
    }
}

.plan-course.course6 {
    padding-top: .4rem;
}

.plan-text {
    padding-top: .6rem;
    padding-right: .3rem;
    padding-bottom: .7rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.75rem;
}

@media (min-width :780px) {
    .plan-text {
        font-size: 2rem;
        padding-top: .95rem;
        padding-left: .3rem;
        padding-bottom: .9rem;
    }
}


.plan-text.text2 {
    padding-top: .65rem;
}

@media (min-width :780px) {
    .plan-text.text2 {
        padding-top: .9rem;
    }
}

@media (min-width :780px) {
    .plan-text.text3 {
        padding-bottom: .85rem;
    }
}

@media (min-width :780px) {
    .plan-text.text4 {
        padding-bottom: .85rem;
    }
}

.plan-text.text5 {
    padding-right: .9rem;
    padding-bottom: .7rem;
    letter-spacing: .009em;
}

@media (min-width :780px) {
    .plan-text.text5 {
        padding-top: .95rem;
        padding-left: 1rem;
        padding-bottom: .9rem;
    }
}

.plan-text.text6 {
    padding-bottom: .56rem;
}

@media (min-width :780px) {
    .plan-text.text6 {
        padding-top: .95rem;
        padding-left: .3rem;
        padding-bottom: .65rem;
    }
}

.plan-text-fee {
    font-size: 1rem;
}

@media (min-width :780px) {
    .plan-text-fee {
        font-size: 1.125rem;
        /* padding-top: 0.6rem; */
        /* padding-left: 0.05rem; */
    }
}

.section-bottom.plan-bottom {
    margin-top: 4rem;
}

@media (min-width: 780px) {
    .section-bottom.plan-bottom {
        margin-top: 4.5rem;
    }
}

/* footer */

.footer-image {
    position: relative;
}

@media (min-width: 780px) {
    .footer-image {
        display: flex;
        overflow: hidden;
    }
}

.footer-image img {
    display: block;
}

@media (min-width: 780px) {
    .footer-image .img1:hover img {
        transform: scale(1.2);
    }
}

@media (min-width: 780px) {
    .footer-image .img2:hover img {
        transform: scale(1.2);
    }
}

.footer-text1 {
    top: 20%;
    left: 4.1%;
}

@media (min-width: 780px) {
    .footer-text1 {
        top: 43.2%;
        left: 19.16%;
        ;
    }
}

.footer-text2 {
    top: 70%;
    left: 4.1%;
}

@media (min-width: 780px) {
    .footer-text2 {
        top: 43.2%;
        left: 67.5%;
    }
}

.footer-text1,
.footer-text2 {
    white-space: nowrap;
    position: absolute;
}

.footer-text-first,
.footer-text-second {
    color: #fff;
    font-size: 1.375rem;
}

@media (min-width: 780px) {

    .footer-text-first,
    .footer-text-second {
        font-size: 2rem;
    }
}

.fotter-copyright {
    background-color: #ddd;
}

.copyright {
    font-size: .83rem;
    letter-spacing: -.01em;
    text-align: center;
    padding-top: 2rem;
    padding-left: .9rem;
    padding-bottom: 1.5rem;
}

@media (min-width: 780px) {
    .copyright {
        padding-top: 3.15rem;
        padding-left: 0;
    }
}